CollectionViewPerformanceIssueReproductionApp/bin/
CollectionViewPerformanceIssueReproductionApp/bin
CollectionViewPerformanceIssueReproductionApp/obj/
CollectionViewPerformanceIssueReproductionApp/obj